
.env
sender_params.json
__pycache__/
bin/
include/
share/
*.pyc
.DS_Store
.vscode/settings.json
projectX.db
projectX.session.sql
accounts/migrations/
accounts/__pycache__/
captions/
lib/
man/
reference/
firebase-projectx.json
videogenerator/migrations/
videogenerator/__pycache__/
