aiohttp==3.8.5
aiosignal==1.3.1
amqp==5.1.1
appnope==0.1.3
asgiref==3.7.2
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
billiard==4.1.0
celery==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
decorator==4.4.2
discord==2.3.1
discord.py==2.3.1
Django==4.1.10
django-celery-results==2.5.1
django-cors-headers==4.2.0
django-debug-toolbar==4.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djongo==1.3.6
dnspython==2.4.1
elevenlabs==0.2.21
executing==1.2.0
frozenlist==1.4.0
future==0.18.3
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.8
ipython==8.14.0
jedi==0.18.2
kombu==5.3.1
m3==0.6.12
matplotlib-inline==0.1.6
moviepy==1.0.3
multidict==6.0.4
nose==1.3.7
numpy==1.25.1
openai==0.27.8
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
proglog==0.1.10
prompt-toolkit==3.0.39
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==1.10.11
pydub==0.25.1
Pygments==2.15.1
PyJWT==2.8.0
pymongo==3.12.3
PyMySQL==1.1.0
pyserial==3.5
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
redis==4.6.0
requests==2.31.0
six==1.16.0
SpeechRecognition==3.10.0
sqlparse==0.2.4
stack-data==0.6.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
vine==5.0.0
wcwidth==0.2.6
yarl==1.9.2
